<header>
  <h1>Login</h1>
</header>
<div class="form-container">  
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">    
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="email" class="form-field" [formControl]="form.controls.email" placeholder="nome.cognome@dipvvf.it"/>
        <!-- <mat-hint>{{"nome.cognome@dipvvf.it"}}</mat-hint> -->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="form.controls.password" placeholder="Password"/>
      </mat-form-field>   
    </p>
    <p>
      @if(loading()){
        <mat-spinner diameter="20"></mat-spinner>
      }
      @else{
        <button mat-flat-button type="submit" [disabled]="!form.dirty">Entra</button>
      }
    </p>
    @if (emailIsInvalid) {
      <p class="control-error">Inserisci un indirizzo email valido.</p>
    }
    @if (passwordIsInvalid) {
      <p class="control-error">Inserisci la password</p>
    }
    @if(error()){      
      <p class="control-error">{{error()}}</p>
    }
  </form>
</div>